<div class="floating-container">
    <div class="floating-button">&equiv;</div>
    <div class="element-container">
        <div class="first float-element">
            <a href="/posts" class="no-under first"> <span class="float-element tooltip-left">
                    <i class="material-icons">Home</i></a>
            </span>
        </div>
        <div class="second float-element">
            <a href="/posts/new" class="no-under second"><span class="float-element">
                    <i class="material-icons">Post</i>
                </span></a>
        </div>
        <div class="third float-element">
            <a href="/profile" class="no-under"><span class="float-element third">
                    <i class="material-icons">Profile</i>
                </span></a>
        </div>
    </div>
</div>