<% if(!currentUser){ %>
    <div class="header mt-2 mb-3">
        <div class="work">
            <p class="lead text-white">Welcome To Tag-Up! <br> Jump right in and explore others photos <br> Feel
                free
                to
                share
                some of your own and comment on others!</p>
            <a href="/register" class="btn btn-secondary bg-white">Register and share</a>
            <a href="/login" class="btn btn-secondary bg-white">Login</a>
        </div>
    </div>
    <% } %>