html {
    height: 100%;
}

body {
    margin: auto;
    padding: auto;
    /* background: linear-gradient(#d78c8c, #aab0ed); */
    height: 100%;
    width: 100%;
    background-color: #c0c0c0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    position: relative;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.post-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flash {
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    position: relative;
    width: 450px;
    height: 450px;
}

.show-profile {
    height: 40vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
}

.red {
    color: red;
}

#serach {
    width: max-content;
}

.overlay:hover {
    opacity: 1;
}

.edit {
    position: relative;
    font-size: 1.25em;
    color: #fff;
    text-align: center;
}

.edit:hover {
    cursor: pointer;
    color: #dfc51e;
    text-decoration: underline;
}

.card {
    border-radius: 20px;
    margin-bottom: 50px;
}

.topImg {
    border-radius: 4%;
}

.img-fluid {
    border-radius: 20px;
}

.header {
    position: relative;
    display: flex;
    height: 30vh;
    width: 100%;
    border-radius: 12px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1482398650355-d4c6462afa0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.work {
    position: relative;
    text-align: center;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border: 0.25rem solid transparent;
}

.nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    ;
}

.nav-link.active {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
    font-weight: bold;
}

.remove {
    position: relative;
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.remove:hover {
    cursor: pointer;
    color: #c42828;
    text-decoration: underline;
}

.profile-icon {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#icon-file {
    visibility: hidden;
}

.saving {
    transition: ease-in 300ms;
}

#favorites:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .4);
    transform: scale(1.2) perspective(1px);
}