<% layout("layouts/boilerplate") %>
    <form action="/profile/?_method=PUT" method="POST" novalidate class="needs-validation">
        <div class="row">
            <h1 class="text-center">Edit Profile</h1>
            <div class="col-6">
                <img crossorigin="anonymous" src="<%= currentUser.icon.url %>" class="profile-icon" alt="">
            </div>
            <div class="col-6">
                <div class="mb-3"> <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" name="email" id="email" value="<%= currentUser.email %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea class="form-control" id="bio" name="bio" rows="3"><%= currentUser.bio %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="my-3"> <button class="btn btn-info">Update Info</button></div>
                <a href="/profile" class="btn btn-danger">Cancel</a>
            </div>
        </div>
        </div>
    </form>