<% layout("layouts/boilerplate") %>
    <form action="/profile/?_method=PUT" method="POST" novalidate class="needs-validation"
        enctype="multipart/form-data">
        <div class="row">
            <h1 class="text-center">Edit Profile</h1>
            <div class="col-6">
                <img src="<%= currentUser.icon.url %>" class="profile-icon" alt="">
            </div>

            <div class="col-6">
                <div class="mb-3"> <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" name="name" id="name" value="<%= currentUser.name %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"> <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" name="email" id="email" value="<%= currentUser.email %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"> <label for="phone" class="form-label">Phone Number</label>
                    <input class="form-control" type="number" name="phone" id="phone" value="<%= currentUser.phone %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="my-3"> <button class="btn btn-info">Update Info</button></div>
                </div>
                <a href="/profile" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>