<% layout("layouts/boilerplate") %>
    <% if(!currentUser){ %>
        <div class="header my-3">
            <div class="work">
                <p class="lead text-white">Welcome To Push-Up! <br> Jump right in and explore others photos <br> Feel
                    free
                    to
                    share
                    some of your own and comment on others!</p>
                <a href="/register" class="btn btn-secondary bg-white">Register and share</a>
                <a href="/login" class="btn btn-secondary bg-white">Login</a>
            </div>
        </div>

        <% } %>
            <% if(!posts){ %>
                <h1>NO POSTS YET</h1>
                <% } else {%>
                    <% for(let post of posts){%>
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="<%= post.image.url %>" alt="" class="img-fluid w-100 h-100">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= post.description %>
                                        </h5>
                                        <p class="card-text">
                                            <%= post.tags %>
                                        </p>
                                        <a class="btn btn-primary" href="/posts/<%= post._id %>">View</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>